
<h2>Cadastro de Usuário</h2>
<form action="/cadastro" method="POST">
  <input name="nome" placeholder="Nome" required />
  <input name="login" placeholder="Login" required />
  <input name="senha" type="password" placeholder="Senha" required />
  <button type="submit">Cadastrar</button>
</form>
